body {
    background: url('/Client/src/header6.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.login-container {
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    width: 100%;
}